p {
	color: #262626;
	font: 14px/1.5 Arial, Verdana, Helvetica, sans-serif;  
	text-indent: 35px;
}
.lists {
	color: #696969;
}
#header {
	color: #c23636;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 30px;
	text-align: center;
}
h2 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
}
p span {
	color: #d44a4a;
	text-decoration: underline;
}
h2,h3 {
	color: #243f7a;
}
.bold-text {
	font-weight: bold;
}
.italic-text {
	font-style: italic;
	font-weight: bold;
}
tr {
	text-align: center;
}
.left-column {
	text-align: left;
}
a:link {
	color: #6190b8;
}
a:visited {
	color: #0eb861;
}
a:hover{
	color: #b86161;
	text-decoration: none;
}
a:active {
	color: #000000;
}


